{% extends "countrydata/base.html" %}

{% block content %}
<style>
    .modern-table {
        border-collapse: collapse;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        margin-top: 20px; /* Added some space above the table for aesthetics */
    }
    .modern-table th, .modern-table td {
        border: 1px solid #ddd;
        padding: 8px 16px;
        text-align: left;
    }
    .modern-table th {
        background-color: #024259;
        color: white;
    }
    .modern-table tr:nth-child(even) {background-color: #f2f2f2;}
    .modern-table tr:hover {background-color: #ddd;}
</style>

<div class="content-container" style="margin-left: 250px; padding: 20px;">
    <form action="{% url 'home' %}" method="get">
        <div>
            <label for="year">Select a Year:</label>
            <select id="year" name="year">
                <!-- This option acts as a placeholder and prompts user selection -->
                <option value="" {% if not selected_year %}selected{% endif %}>--- Select a Year ---</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if selected_year|stringformat:"s" == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Show Top 10">
        </div>
    </form>

    {% if countries %}
    <h3>Top 10 CO2 Emissions Countries in {{ selected_year }}</h3>
    <table class="modern-table">
        <thead>
            <tr>
                <th>Country Code</th>
                <th>Country Name</th>
                <th>CO2 Emissions (Metric Tons per Capita)</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td>{{ country.countryCode }}</td>
                <td>{{ country.countryName }}</td>
                <td>{{ country.co2_emissions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available for the selected year.</p>
    {% endif %}
</div>
{% endblock %}