{% extends "countrydata/base.html" %}

{% block content %}
<style>
    .modern-table {
        border-collapse: collapse;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        margin-top: 20px;
    }
    .modern-table th, .modern-table td {
        border: 1px solid #ddd;
        padding: 8px 16px;
        text-align: left;
    }
    .modern-table th {
        background-color: #024259;
        color: white;
    }
    .modern-table tr:nth-child(even) {background-color: #f2f2f2;}
    .modern-table tr:hover {background-color: #ddd;}

    /* Styles for header container */
    .header-container {
        font-weight: 600;
        color: #024259;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 250px; /* Align with sidebar */
        margin-right: 20px; /* Consistent with padding */
        padding: 20px;
        box-sizing: border-box;
    }

    /* Form alignment and styling */
    .year-selection-form {
        display: flex;
        align-items: center;
    }
    .year-selection-form label,
    .year-selection-form select,
    .year-selection-form input[type="submit"] {
        margin-left: 8px;
    }

    .content-container {
        padding: 0 20px;
        margin-left: 250px;
    }
</style>

<div class="main-content">
    <h2>Welcome to the Global CO2 Emissions Dashboard</h2>
    <p>This platform gives a comprehensive view on global CO2 emissions, offering insights of trends and comparisons across countries from 1990 to 2020.</p>
</div>

<div class="header-container">
    <h2>Top 10 CO2 Emissions Countries{% if selected_year %} in {{ selected_year }}{% else %} in Default Year{% endif %}</h2>
    <form class="year-selection-form" action="{% url 'home' %}" method="get">
        <label for="year">Select a Year:</label>
        <select id="year" name="year">
            <option value="" {% if not selected_year %}selected{% endif %}>--- Select a Year ---</option>
            {% for year in years %}
            <option value="{{ year }}" {% if selected_year|stringformat:"s" == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Show Top 10">
    </form>
</div>

<div class="content-container">
    {% if countries %}
    <table class="modern-table">
        <thead>
            <tr>
                <th>Country Code</th>
                <th>Country Name</th>
                <th>CO2 Emissions (Metric Tons per Capita)</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td>{{ country.countryCode }}</td>
                <td>{{ country.countryName }}</td>
                <td>{{ country.co2_emissions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available for the selected year.</p>
    {% endif %}
</div>
{% endblock %}